body {
    background-color:beige;
    
}
.caja{
    margin: 20px;
    padding: 8px;
    background-color: white;
    border-style: solid;
    border-color: chocolate;
    border-right-width: 340px;
}
/*  */